@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Estilo da scrollbar para ficar quadrada e cinza */
html {
  scrollbar-width: auto; /* Para navegadores como Firefox */
  scrollbar-color: gray lightgray; /* Cor da barra e do trilho */
}

body::-webkit-scrollbar {
  width: 12px; /* Define a largura da scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: gray; /* Cor da barra */
  border-radius: 0; /* Remove bordas arredondadas para deixá-la quadrada */
}

body::-webkit-scrollbar-track {
  background-color: lightgray; /* Cor do trilho */
}

